.card-body{
  text-align: center;
  background: linear-gradient(179.4deg, rgb(163, 164, 196) 2.2%, rgb(22, 50, 105) 96.2%);
}

.icon-shape {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(192, 246, 207);
  margin: 6px;
  font-size: 250%;
}

.form-items {
  margin: 15px;
}

.border-green {
  border: 2px solid rgb(1, 181, 1) !important;
  border-radius: 4px;
}



